# dependencies
/node_modules

# testing
/coverage

# build files
/dist

# environment variables
.env
*.env

# machine
.DS_Store

# workstation 
.idea

# launch scripts for other platforms
Procfile
.profile
